<div class="container-fluid">
    <div class="card" style="margin-top: 100px; margin-bottom: 20px; text-align: justify;">
        <div class="card-header text-center text-white bg-success">
            <h2><span class="fa fa-book"></span> Proceso de ingreso</h2>
        </div>
        <div class="card-body">
            <div class="row">
                <div class=" col-md-6">
                    <h4 class="text-center">Nuevo ingreso</h4>
                    
                        <p><i class="fa fa-arrow-right"></i> Ficha de inscripci&oacute;n de venta en el colegio.</p>
                        <p><i class="fa fa-arrow-right"></i> Adquirir seguro de vida por accidente: <b>$10.00 anual.</b></p>
                        <p><i class="fa fa-arrow-right"></i> Partida de nacimiento original y reciente. 2 fotograf&iacute;as recientes tamaño cedula. <b>(No al minuto, no tomadas con el celular).</b></p>
                        <p><i class="fa fa-arrow-right"></i> Fotocopia de tarjeta de vacunaci&oacute;n.</p>
                        <p><i class="fa fa-arrow-right"></i> Copia de DUI AMPLIADA al 150% de los padres responsables y de las personas autorizadas a retirar al niño/a. <b>(Caso contrario no se entregar&aacute; si no est&aacute; en la ficha de inscripci&oacute;n).</b></p>
                        <p><i class="fa fa-arrow-right"></i> Copia de certificado anterior.</p>
                        <p><i class="fa fa-arrow-right"></i> Constancia de buena conducta.</p>
                        <p><i class="fa fa-arrow-right"></i> Constancia de solvencia de pagos del colegio anterior.</p>
                    
                </div>
                
                <div class="col-md-6">
                    <h4 class="text-center">Antiguo ingreso</h4>
                    
                        <p><i class="fa fa-arrow-right"></i> Ficha de inscripci&oacute;n de venta en el colegio.</p>
                        <p><i class="fa fa-arrow-right"></i> Adquirir seguro de vida por accidente: <b>$10.00 anual.</b></p>
                        <p><i class="fa fa-arrow-right"></i> 2 fotograf&iacute;as recientes tamaño cedula. <b>(No al minuto, no tomadas con el celular).</b></p>
                        <p><i class="fa fa-arrow-right"></i> Fotocopia de tarjeta de vacunaci&oacute;n.</p>
                        <p><i class="fa fa-arrow-right"></i> Copia de DUI AMPLIADA al 150% de los padres responsables y de las personas autorizadas a retirar al niño/a. <b>(Caso contrario no se entregar&aacute; si no est&aacute; en la ficha de inscripci&oacute;n).</b></p>
                    
                </div>
                <div class="container" style="padding: 20px">
                    <div class="alert alert-success">
                        <h3 class="text-center">Es indispensable presentar todos los documentos solicitados al momento de matricular a su hijo/a.</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>