<footer class="page-footer text-info" style="background-color: #182c39;">
    <div class="container">
        <div class="row">
            
            <div class="col-md-7" style="padding: 10px;">
                <h5 class="text-center text-white">Contactos</h5>
                        <p><i class="fa fa-phone fa-fw"></i> (503) 2102-2008</p>
                        <p><i class="fa fa-whatsapp fa-fw"></i> (503) 2102-2008</p>
                        <p><i class="fa fa-envelope fa-fw"></i> anaruthtorres3031@hotmail.com</p>
                        <p><i class="fa fa-home fa-fw"></i> Calle La Rumba entre calle principal y calle Concepci&oacute;n, N° 140, Colonia S&aacute;nchez, Barrio Cisnero, San Salvador.</p>

            </div>
            <div class="col-md-4" style="padding: 10px;">
            
            
            <ul class="list-unstyled">
                <li><h5 class="text-white text-center">Siguenos en redes sociales</h5></li>
                <li class="list-inline-item">
                    <a class="btn-floating btn-sm" href="#"><i class="fab fa-facebook" style="font-size: 50px;"></i></a>
                </li>
            </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright text-center text-white" style="background-color: #10222e; padding: 10px;">
        <h6>"Instruye al niño en su camino, y a&uacute;n cuando fuera viejo no se apartar&aacute; de &eacute;l." <b>Proverbios 22:6</b></h6>
        <h6>© 2020 | Colegio de La Garita Joseph Christian School  </h6>
    </div>
</footer>
