<div class="container-fluid">
    <div class="card" style="margin-top: 100px; margin-bottom: 20px;">
    <div class="card-header text-center text-white bg-info">
        <h2><span class="fa fa-book"></span> Oferta acad&eacute;mica</h2>
    </div>
    <div class="card-body"style="width: 100%; max-width: 2000px; display: inline-block;">
         
    <div class="row">
        <div class="col-md-3">
            <div class="card border-primary">
                <img src="/assets/kinder.jpg" class="card-img-top" alt="" />
                <div class="card-body">
                    <h5 class="card-title"><span class="fa fa-pencil"></span> Kinder 4</h5>
                    <a href="#" class="btn btn-primary">M&aacute;s informaci&oacute;n</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card border-primary">
                <img src="/assets/kinder.jpg" class="card-img-top" alt="" />
                <div class="card-body">
                    <h5 class="card-title"><span class="fa fa-pencil"></span> Kinder 5</h5>
                    <a href="#" class="btn btn-primary">M&aacute;s informaci&oacute;n</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card border-primary">
                <img src="/assets/kinder.jpg" class="card-img-top" alt="" />
                <div class="card-body">
                    <h5 class="card-title"><span class="fa fa-pencil"></span> Preparatoria</h5>
                    <a href="#" class="btn btn-primary">M&aacute;s informaci&oacute;n</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card border-primary">
                <img src="/assets/kinder.jpg" class="card-img-top" alt="" />
                <div class="card-body">
                    <h5 class="card-title"><span class="fa fa-pencil"></span> 1° grado</h5>
                    <a href="#" class="btn btn-primary">M&aacute;s informaci&oacute;n</a>
                </div>
            </div>
        </div>
        <div class="col-md-3" style="margin-top: 10px;">
            <div class="card border-primary">
                <img src="/assets/kinder.jpg" class="card-img-top" alt="" />
                <div class="card-body">
                    <h5 class="card-title"><span class="fa fa-pencil"></span> 2° grado</h5>
                    <a href="#" class="btn btn-primary">M&aacute;s informaci&oacute;n</a>
                </div>
            </div>
        </div>
        </div>

        
        
        </div>
        <div class="text-center" style="margin: 20px;">
            <a class="btn btn-danger" type="button" href="#"><span class="fa fa-umbrella"></span> Cursos de verano</a>
        </div>
    </div>
    
</div>