<div class="row">
    <div class="col-12">
      <div class="jumbotron bg-light">
        <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="/assets/valores.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="/assets/lagarita2.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="/assets/lagarita1.jpg" class="d-block w-100" alt="...">
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
</div>
    <hr>

    <div class="text-center">
        <h2 class="alert alert-primary"><span class="fa fa-book"></span> Oferta acad&eacute;mica</h2>
    </div>
    
    <div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="card border-primary" style="width: 230px;">
                <img src="/assets/kinder.jpg" class="card-img-top" alt="" />
                <div class="card-body">
                    <h4 class="card-title"><span class="fa fa-pencil"></span> Kinder 4</h4>
                    <a href="#" class="btn btn-primary">M&aacute;s informaci&oacute;n</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card border-primary" style="width: 230px;">
                <img src="/assets/kinder.jpg" class="card-img-top" alt="" />
                <div class="card-body">
                    <h4 class="card-title"><span class="fa fa-pencil"></span> Kinder 5</h4>
                    <a href="#" class="btn btn-primary">M&aacute;s informaci&oacute;n</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card border-primary" style="width: 230px;">
                <img src="/assets/kinder.jpg" class="card-img-top" alt="" />
                <div class="card-body">
                    <h4 class="card-title"><span class="fa fa-pencil"></span> Preparatoria</h4>
                    <a href="#" class="btn btn-primary">M&aacute;s informaci&oacute;n</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card border-primary" style="width: 230px;">
                <img src="/assets/kinder.jpg" class="card-img-top" alt="" />
                <div class="card-body">
                    <h4 class="card-title"><span class="fa fa-pencil"></span> 1° grado</h4>
                    <a href="#" class="btn btn-primary">M&aacute;s informaci&oacute;n</a>
                </div>
            </div>
        </div>
        
    </div>
    <div class="text-center" style="margin: 20px;">
        <a class="btn btn-outline-primary" type="button" href="#"><span class="fa fa-info"></span> Ver m&aacute;s informaci&oacute;n</a>
    </div>
    </div>

    <hr>
        <div class="container card" >
            <div class="row">
                    <div class="card-header text-center text-white" style="background-color: #123456;">
                        <h2><span class="fa fa-home"></span> Bienvenidos</h2>
                        <h4>Somos una instituci&oacute;n educativa bilingue con principios y valores cristianos orientados a formar hombres y mujeres de bien y temerosos de Dios Nuestro Señor.</h4>
                    </div>
                    <div class="card-body" style="text-align: justify;">
                <div class="row">
                <div class="col-md-6"> 
                        <h5 class="card-title text-center">Misi&oacute;n</h5>
                        <p class="card-text">Somos una instituci&oacute;n educativa cristiana bilingue que ofrece una experiencia formativa para desarrollar habilidades cognitivas b&aacute;sicas, con un alto nivel espiritual y moral que convierta a nuestros educandos en personas temerosas de Dios y capaces de ser agentes de cambio para construir una sociedad m&aacute;s justa y humana.</p>
                        <h5 class="card-title text-center">Visi&oacute;n</h5>
                        <p class="card-text">Ser una instituci&oacute;n educativa cristiana bilingue, que marque la diferencia en la formaci&oacute;n espiritual, moral y acad&eacute;mica de las nuevas generaciones, temerosos de Dios y capaces acad&eacute;micamente para cambiar la realidad personal, familiar y social de sus entorno.</p>
                        <h5 class="card-title text-center">Valores</h5>
                            <ul>
                                <div class="row">
                                    <div class="col-md-4">
                                <li>Respeto</li>
                                <li>Amor</li>
                                <li>Responsabilidad</li>
                                <li>Honestidad</li>
                                    </div>
                                    <div class="col-md-4">
                                <li>Solidaridad</li>
                                <li>Paz</li>
                                    
                                <li>Amistad</li>
                                <li>Humildad</li>
                            </div>
                            <div class="col-md-4">
                                <li>Libertad</li>
                                <li>Generosidad</li>
                                <li>Compromiso</li>
                                        </div>
                                </div>
                            </ul>
                            
                            <div class="text-center" style="margin: 20px;">
                                <a class="btn btn-danger" type="button" href="#"><span class="fa fa-info"></span> Galeria de fotos</a>
                                <a class="btn btn-danger" style="margin-left: 10px;" type="button" href="#"><span class="fa fa-info"></span> Reglamento</a>
                            </div>
                    </div>
                    
                    <div class="col-md-6" style="align-items: center;">
                    <video width="550" controls id="video">
                        <source src="/assets/lagarita.mp4" type="video/mp4" />
                    </video>
                    
                </div>
                
                    </div>
                </div>
        </div>
        </div>
        

        <hr>

        <div class="text-center">
            <div class="alert alert-info">
                <h4>¿Eres miembro de nuestra comunidad educativa?</h4>
                <a class="btn btn-dark my-2 my-sm-0" type="button" href="#" style="font-size: 20px;">Inicia sesi&oacute;n</a>
            </div>
        </div>
    


