
<div class="jumbotron text-center" style="margin-top: 100px; margin-bottom: 20px;">
    <div class="container">
        <h1><span class="fa fa-user"></span> Bienvenido Administrador</h1>
        <p>En esta plataforma podras gestionar la informacion de diferentes roles de usuarios, asi como enviar archivos y descargarlos, actualizar los eventos del calendario academico y muchos mas. Listo/a!</p>
        <p>
            <a class="btn btn-primary" href="#" routerLink="/admines"><span class="fa fa-user"></span> Administradores</a>
            <a style="margin-left: 10px;" class="btn btn-primary" href="#" routerLink="/encargado"><span class="fa fa-user"></span> Encargados</a>
            <a style="margin-left: 10px;" class="btn btn-primary" href="#" routerLink="/profe"><span class="fa fa-user"></span> Profesores</a>
            <a style="margin-left: 10px;" class="btn btn-primary" href="#" routerLink="/alumnos"><span class="fa fa-graduation-cap"></span> Alumnos</a>
            <a style="margin-left: 10px;" class="btn btn-primary" href="#" routerLink="/nota"><span class="fa fa-sticky-note"></span> Notas</a>
            <a style="margin-left: 10px;" class="btn btn-primary" href="#" routerLink="/grado"><span class="fa fa-book"></span> Grados</a>
        </p>
    </div>
</div>
<hr class="featurette divider">
<div class="container">
    <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Gesti&oacute;n del calendario acad&eacute;mico</h2>
          <p class="lead">En esta seccion puedes agregar, modificar o eliminar eventos academicos al calendario para que los demas usuarios puedan verlo.</p>
          <a class="btn btn-primary" href="#" routerLink="/actividad"><span class="fa fa-comment"></span> Ingresar</a>
        </div>
        <div class="col-md-5">
            <img src="/assets/kinder.jpg" width="400" height="400" style="border-radius: 10px;" />
        </div>
      </div>
    </div>

    <hr class="featurette divider">

    <div class="container" style="margin-bottom: 10px;">
        <div class="row featurette">
            <div class="col-md-5">
                <img src="/assets/kinder.jpg" width="400" height="400" style="border-radius: 10px;" />
            </div>
            <div class="col-md-7">
              <h2 class="featurette-heading">Archivos</h2>
              <p class="lead">En esta seccion puedes gestionar los archivos que quieres enviar o descargar.</p>
              <a class="btn btn-primary" href="#" routerLink="/gAcademica"><span class="fa fa-comment"></span> Ingresar</a>
            </div>
            
          </div>
        </div>
