
<div class="container">
    
    <div class="card" style="margin-top: 100px; margin-bottom: 20px;">
        <div class="card-header text-center text-white bg-info">
            <h2><span class="fa fa-envelope"></span> Cont&aacute;ctanos</h2>
        </div>
        <div class="card-body">
            <div class="container">
                
                <form action="" method="POST">
                        <div class="form-group">
                            <label>Nombre</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="fa fa-user"></i></div>
                                </div>
                                <input type="text" name="nombre" class="form-control" placeholder="Ingresa tu nombre" required>
                            </div>
                        </div>
                        <div class="form-group">
                                    <label>Correo electr&oacute;nico</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                        <div class="input-group-text"><i class="fa fa-envelope"></i></div>
                                        </div>
                                        <input type="email" name="email" id="email" class="form-control" placeholder="Ingresa tu correo elect&oacute;nico" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Comentario</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                        <div class="input-group-text"><i class="fa fa-comment"></i></div>
                                        </div>
                                        <textarea class="form-control" placeholder="Escribe tu mensaje" required></textarea>
                                    </div>
                                </div>
                                <div class="text-center" style="margin: 20px;">
                                    <input type="submit" value="Enviar" class="btn btn-primary" name="">
                                </div>
        
                    </form>
            </div>

                    </div>
    
</div>
<div class="container alert alert-default">
            
    <h2 class="text-center"><span class="fa fa-comment"></span> Informaci&oacute;n de contacto</h2>
    <div class="container">
    <h6>
        <p><a href="https://www.facebook.com/Colegio-De-La-Garita-Joseph-Christian-School-1008367506019587"><i class="fa fa-facebook-square fa-fw"></i> Colegio De La Garita - Joseph Christian School</a></p>
    <p><i class="fa fa-phone fa-fw"></i> (503) 2102-2008</p>
    <p><i class="fa fa-whatsapp fa-fw"></i> (503) 2102-2008</p>
    <p><i class="fa fa-envelope fa-fw"></i> anaruthtorres3031@hotmail.com</p>
    <p><i class="fa fa-home fa-fw"></i> Calle La Rumba entre calle principal y calle Concepci&oacute;n, N° 140, Colonia S&aacute;nchez, Barrio Cisnero, San Salvador.</p>
    </h6>
</div>

</div>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3876.1625045888923!2d-89.17757758568872!3d13.70860580198763!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f6330b69dfb492b%3A0xeefe6f4bea5df4d4!2sCalle%20la%20rumba%2C%20San%20Salvador!5e0!3m2!1ses!2ssv!4v1588476564224!5m2!1ses!2ssv" width="600" height="450" frameborder="0" style="border:0; padding: 20px" allowfullscreen="" aria-hidden="false" tabindex="0" class="col-lg-12"></iframe>
</div>

